!!! 5
%html
  %head
    %meta(charset="UTF-8")
    %title Forkwell for Chrome
    %link(rel="stylesheet" href="/vendor/stylesheets/bootstrap.min.css")
    %link(rel="stylesheet" href="/stylesheets/popup.css")
  %body
    %section
      %nav.row
        .col-xs-2
          %a.navbar-brand(href="https://jobs.forkwell.com/?via=chrome" target="_blank" tabindex="-1")
            %img(alt="Forkwell Jobs" src="/images/logo.png")
        .col-xs-5
          %form(action="https://jobs.forkwell.com/jobs/search" method="GET" target="_blank")
            %input(type="hidden" name="via" value="chrome")
            %input#search-q.form-control(type="text" name="q" placeholder="フリーワード検索")
        .col-xs-4
          %a#jobs-link(href="https://jobs.forkwell.com/jobs?via=chrome" target="_blank")
            %span.glyphicon.glyphicon-th-list(aria-hidden="true") 求人一覧
    %section.jobs-list
      .container
        .row
          %ul#jobs.list-group

    %script(src="/vendor/javascripts/jquery.min.js")
    %script(src="/vendor/javascripts/underscore-min.js")
    %script(src="/vendor/javascripts/bootstrap.min.js")
    %script(src="/javascripts/views/job_view.js")
    %script(src="/javascripts/views/not_found_view.js")
    %script(src="/javascripts/popup.js")
